.header {
    row-gap: 10px;
}

.flag-container {
    max-width: 180px;
    height: 32px;
    padding: 0 10px;
    border-radius: 12px;
    background-color: #F5F4F4B2;
}

.Title {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

.mobile-logo {
    height: 40px;
}

.avatar-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.username-text {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: 16px;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu {
    min-width: 220px;
    border-radius: 12px;
    
}
.text-container{
    border-left: 2px solid #F5F4F4B2;
    border-right: 2px solid #F5F4F4B2;
    height: 100%;
}
.header-bottom-line{
    width:100%;
    height:1px;
    background-color:#F5F4F4B2;
}

[dir="rtl"] .rtl-dropdown {
    right: 0 !important;
    left: auto !important;
    text-align: right;
}


[dir="rtl"] .dropdown-item img {
    margin-left: 8px;
    margin-right: 0;
}


[dir="rtl"] .username-text {
    margin-left: 8px;
    margin-right: 0;
}
@media (max-width: 1280px) {
    .username-text {
        font-size: 14px;
        max-width: 100px;
        white-space: normal;
        line-height: 1.2;
    }

    .dropdown-item {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .username-text {
        max-width: 80px;
    }

    .mobile-logo {
        height: 32px;
    }
}
